{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Articles</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}">
  </head>
  <body>

  <center>

    <h1>Music Genres List</h1>
    <h2><a href="/rock">{{'Rock'}}</a></h2>
    <p1>{{'The sound of rock is traditionally centered on the amplified electric guitar, which emerged...'}}</p1>
    <h3><a href="/traditional">{{'Traditional'}}</a> </h3>
    <p2>{{'Persian traditional music or Iranian traditional music, also known as Persian classical music...'}}</p2>
    <h4><a href="/pop">{{'Pop'}}</a></h4>
    <p3>{{'Pop is a genre of popular music that originated in its modern form during the...'}}</p3>
    <h5><a href="/jazz">{{'Jazz'}}</a><h5>
    <p4>{{'Jazz is a music genre that originated in the African-American...'}}</p4>

  <center>

  </body>
</html>
